%h2
%h4

.row
  .col
    %h3
      Team:
      = @team.name
  .col
    .float-right
      = link_to "Create Player", new_team_player_path(@team), class: 'btn btn-primary btn-sm'
- if @team.players.empty?
  .row
    .col
      = link_to "Create a player to get started", new_team_player_path(@team)
-else
  .row
    .col
      %h5 Players
  .row
    .col
      %table.table
        %thead
          %th Icon
          %th Email
          %th Name
          %th Location
          %th State
          %th Flag?
          %th Peg?
          %th View
        %tbody
          - @team.players.order(:created_at).each do |player|
            %tr
              %td= player.icon
              %td= player.email
              %td= player.name
              %td== #{player.x}, #{player.y}
              %td= player.active ? 'Active' : 'Inactive'
              %td= player.has_flag?
              %td= player.has_peg?
              %td
                = link_to "Edit", edit_team_player_path(@team, player)
                = link_to "View", team_player_path(@team, player)