<!DOCTYPE html>
<html>
  <head>
    <title>CaptureTheFlag</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :js %>
  </head>
  <style>

    .field {
      position:relative;
      text-align:center;
      min-width: 1600px;
      max-width: 1600px;
      border: 10px solid #A9AD7F;
    }

    .canvas-target {
      background: linear-gradient(0.25turn, #5D917D, #A9AD7F, #5D917D);
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 100%;
    } 

    .canvas-target:after {
      content:"";
      position: absolute;
      z-index: 10;
      top: 0;
      bottom: 0;
      left: 50%;
      border-left: 4px dotted #F95F65;
      transform: translate(-50%);
    }
  </style>

  <body>
    <nav class="navbar navbar-expand navbar-light bg-light">
      <a class="navbar-brand" href="/">💚Capture the Flag</a>
      <div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Board</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/teams">Teams</a>
          </li>
        </ul>
      </div>
    </nav>
    <br />
    <br />
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
